@charset "UTF-8";
/* CSS Document */

#carouselExampleIndicators1 .carousel-inner .carousel-item {
    margin-left: 0px;
    margin-right: 25px;
}
#texto2 {
    background-color: #FFFFFF;
    padding: 10px;
    width: 90%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 0.5%;
    margin-left: 2%;
}
#texto1compras {
    padding: 10px;
    width: 90%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: -1%;
    margin-left: 1%;
}
#fotopiano {
    padding: 10px;
    width: 95%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}
#titulopiano {
    padding: 10px;
    width: 96%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}
#tituloguitarraelect {
    padding: 10px;
    width: 95%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}
